@import "../../assets/scss/variables";

.movie_detailpage {
  padding-bottom: 1rem;
  color: $primary_color;
  height: 100%;
  width: 100%;
  .movie_detailpage-header {
    background-image: radial-gradient(ellipse, #0000, #0007);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    display: flex;
    .poster_img {
      position: sticky;
      top: 3rem;
      left: 5rem;
      width: 15rem;
      height: 20rem;
      box-shadow: 0px 0px 9px 2px $primary_color;
      margin-bottom: 2rem;
    }
    .movie_detail-header{
      position: sticky;
      left: 25rem;
      .movie_title {
        margin-top: 8rem;
        font-size: 5rem;
        color: $secondary_color;
        text-shadow: 4px 4px $primary_color;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
      .movie_runtime {
        font-size: 1.5rem;
        color: white;
        font-weight: 800;
        text-shadow: 5px 5px 10px $primary_color;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      .movie_genre {
        color: White;
        font-size: 1.5rem;
        font-weight: 800;
        text-shadow: 5px 5px 10px $primary_color;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.1rem;
      }
    }
  }
  .date_filter {
    display: flex;
    margin: 1rem 6rem;
    gap: 1rem;
    .date_detail {
      border: 1px solid $primary_color;
      padding: 0.7rem;
      border-radius: 1rem;
      text-align: center;
      color: $primary_color;
      background-color: $secondary_color;
      cursor: pointer;
      p {
        margin: 0;
      }
    }
    .date_detail:hover {
      background-color: $primary_color;
      color: $secondary_color;
    }
  }
  .movie_details {
    position: absolute;
    left: -100%;
    animation: move linear 12.5s infinite;
    min-width: 100%;
    font-size: 1.3rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    color: $primary_color;
    font-weight: 900;
  }
  .theater_details {
    background-color: $primary_color;
    color: $secondary_color;
    border: 1px solid $primary_color;
    margin: 2rem 5rem;
    padding: 0 0 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 9px 1px $secondary_color;
    .theater_name {
      font-size: 1.4rem;
    }
    .show_list {
      display: flex;
      gap: 2rem;
      justify-content:flex-start;
      flex-wrap: wrap;
      margin: 0 0 0 1rem;
      .show_time {
        border: 1px solid $secondary_color;
        padding: 0.6rem;
        border-radius: 1rem;
        cursor: pointer;
        background-color: $primary_color;
        color: $secondary_color;
        text-align: center;
        width: 7rem;
        .time {
          font-weight: 900;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          padding: 0 0 0.5rem 0;
        }
        .screen_no {
          font-size: 1rem;
          font-weight: 600;
        }
      }
      .show_time:hover {
        background-color: $secondary_color;
        color: $primary_color;
        box-shadow: 1px 1px 5px 1px $secondary_color;
      }
    }
  }
}
